.global-header {
  height: 120px;
}

main.container {
  margin-top: 30px;
}

article header h2 {
  font-size: 23px;
}

article h1 {
  font-size: 35px;
}

article h2 {
  font-size: 32px;
}

h1.text-primary {
  font-size: 30px;
}
